{{ system_prompt }}
To produce actions:
1. You might or might not be shown a sequence of previous situations you have encountered, consisting of observations and action decisions that you have made.
2. You will be shown your current situation.
3. You will be asked to infer the best action decision to take from a list of options.

